*.class
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/classes/columbia/cellular/Utils/UrlUtils.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/SettingActivity.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/SettingActivity$3.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/SettingActivity$2.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/SettingActivity$1.class
/droidTransfer/bin/classes/columbia/cellular/Utils/ServerUtilities.class
/droidTransfer/bin/classes/columbia/cellular/api/apicalls/SendFileList.class
/droidTransfer/bin/classes/columbia/cellular/api/apicalls/SendFile.class
/droidTransfer/bin/classes/columbia/cellular/file/SelectRootDialog$FileSelectView.class
/droidTransfer/bin/classes/columbia/cellular/api/apicalls/Register.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/R.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/R$style.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/R$string.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/R$menu.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/R$layout.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/R$id.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/R$drawable.class
/droidTransfer/bin/classes/columbia/cellular/api/apicalls/PairWith.class
/droidTransfer/bin/classes/columbia/cellular/api/apicalls/PairResponse.class
/droidTransfer/bin/classes/columbia/cellular/api/apicalls/PairList.class
/droidTransfer/bin/classes/columbia/cellular/api/apicalls/PairDelete.class
/droidTransfer/bin/classes/columbia/cellular/file/OpenFileDialog$FileSelectView.class
/droidTransfer/bin/classes/columbia/cellular/api/apicalls/Messages.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/MainActivity.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/MainActivity$ViewHolder.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/MainActivity$MyAdapter.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/MainActivity$MyAdapter$1.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/MainActivity$MainHandler.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/MainActivity$7.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/MainActivity$6.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/MainActivity$5.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/MainActivity$4.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/MainActivity$3.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/MainActivity$2.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/MainActivity$1.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/LoginActivity.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/LoginActivity$4.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/LoginActivity$3.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/LoginActivity$2.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/LoginActivity$1.class
/droidTransfer/bin/classes/columbia/cellular/file/ListPeerFileDialog$FileSelectView.class
/droidTransfer/bin/classes/columbia/cellular/file/ListFileDialog$FileSelectView.class
/droidTransfer/bin/classes/columbia/cellular/api/apicalls/GetFileList.class
/droidTransfer/bin/classes/columbia/cellular/api/apicalls/GetFile.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/GCMIntentService.class
/droidTransfer/bin/classes/columbia/cellular/api/entities/FtDroidActivity.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/droidService$1.class
/droidTransfer/bin/classes/columbia/cellular/droidtransfer/droidApp.class
/droidTransfer/bin/classes/columbia/cellular/api/apicalls/DownloadFile.class
/droidTransfer/bin/classes/columbia/cellular/api/apicalls/ApiCall.class
/droidTransfer/bin/jarlist.cache
