*.class
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
/droidTransfer/bin/dexedLibs/*.jar
